<web-app version="2.5"
         xmlns="http://java.sun. com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	
    <servlet>
        <servlet-name>ShoppingCartServlet</servlet-name>
        <servlet-class>examples.servlet.ShoppingCartServlet</servlet-class>
    </servlet>
	
    <servlet-mapping>
        <servlet-name>ShoppingCartServlet</servlet-name>
        <url-pattern>/ShoppingCartServlet</url-pattern>
    </servlet-mapping>
	
    <ejb-local-ref>
        <ejb-ref-name>ejb/ShoppingCart</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>examples.stateful.ShoppingCart</local>
    </ejb-local-ref>	
</web-app>